:root {
    --lime-color: #9ceb9c;
    --lime-dark-color: #6c9e6c;
    --dark-bg: #222323;
}

html,
body {
    color: var(--lime-color);
    background: var(--dark-bg);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {   
    transform: scale(1);
}